﻿@model ass7.Models.UserProfileModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("Profile", "Home", FormMethod.Post))
            {
                <h1 class="m-2">Registration Form</h1>
                @Html.TextBox("first_name", null, new { @class = "form-control mt-2", @placeholder = "First name" })
                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })

                @Html.TextBox("last_name", null, new { @class = "form-control mt-2", @placeholder = "Last name" })
                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })

                @Html.TextBox("middle_name", null, new { @class = "form-control mt-2", @placeholder = "Middle name" })
                @Html.ValidationMessageFor(model => model.middle_name, "", new { @class = "text-danger" })

                @Html.TextBox("Age", null, new { @class = "form-control mt-2", @placeholder = "Age", @type = "number" })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                <div class="form-check">
                    Male:   @Html.RadioButton("gender", "Male")
                    Female: @Html.RadioButton("gender", "Female")
                </div>
                @Html.TextArea("address", null, new { @class = "form-control mt-2", @placeholder = "Address" })
                <button type="submit" class="btn btn-primary mt-2">Register</button>
            }
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
