﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("Profile","Home", FormMethod.Post)){
                <h1 class="m-2">Registration Form</h1>
                @Html.TextBox("FName", null, new { @class = "form-control mt-2", @placeholder = "First name" })
                @Html.TextBox("LName", null, new { @class = "form-control mt-2", @placeholder = "Last name" })
                @Html.TextBox("MName", null, new { @class = "form-control mt-2", @placeholder = "Middle name" })
                @Html.TextBox("Age", null, new { @class = "form-control mt-2", @placeholder = "Age" })
                <div class="form-check">
                    Male:   @Html.RadioButton("Gender", "Male")
                    Female: @Html.RadioButton("Gender", "Female")
                </div>
                @Html.TextArea("Address", null, new { @class = "form-control mt-2", @placeholder = "Address" })
                <button type="submit" class="btn btn-primary mt-2">Register</button>
           }
        </div>
    </div>
</div>
