<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>v-calculator</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <style>
  *, ::after, ::before {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-size: 10px;
    align-items: flex-end;
    justify-content: center;
  }

  #calculator {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0;
    max-width: 320px;
    min-width: 320px;
    flex-direction: column;
    background-color: #2f2f31;
  }

    .calculator-logs {
      height: 80px;
      display: flex;
      position: relative;
      overflow: hidden;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 10px 10px 0px 2px;
    }
    /*
      .calculator-logs:before {
        top: 0;
        left: 0;
        right: 0;
        height: 48px;
        content: '';
        z-index: 5;
        position: absolute;      
        background: linear-gradient(to bottom, #2f2f31, rgba(#2f2f31, 0));
      }*/
      span {
        color: #D4D4D2;
        opacity: .75;
        display: block;
        font-size: .8rem;
        text-align: right;
        margin-top: .4rem;
        line-height: 1;
        font-weight: lighter;
      }

    .calc-input {
      color: #D4D4D2;
      width: 100%;
      border: none;
      padding: .8rem;
      display: block;
      font-size: 2.4rem;
      background: none;
      text-align: right;
      font-weight: lighter;
    }
      .calc-input:focus, .calc-input:active {
        outline: none;
      }

    .calculator-row {
      display: flex;
      padding: 0;
      justify-content: space-around;
    }
      .calculator-col {
        flex: 1;
        box-shadow: 0 0 0 1px #2f2f31;
    }

    .calculator-btn {
      width: 100%;
      color: #D4D4D2;
      border: none;
      cursor: pointer;
      padding: .8rem;
      outline: none;
      font-size: 1.6rem;
      transition: all .3s ease-in-out;
      font-weight: 200;
      justify-content: center;
      background-color: #5f547d;
    }
      .calculator-btn:active {
        background-color: #2f2f31;
        border: none;
      }
    .calc-cont {
      background-color: cadetblue;
      padding: 1%;
      border-radius: 1cm;
    }
  </style>
 
</head>

<body>

<div class="calc-cont">
  <div id="calculator">
    <div class="calculator-logs" style="border-radius: 5px;">
      <span v-for="recent in recents">{{ recent }}</span>
    </div>
    <input type="string" class="calc-input" v-model="numInput" @keyup.enter="getResult()"> 
    <div class="calculator-row">
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(7)">7</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(8)">8</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(9)">9</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" @click="clear()">C</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn gray action" @click="del()">CE</button>
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(4)">4</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(5)">5</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(6)">6</button>
      </div>
        <div class="calculator-col">
          <button class="calculator-btn accent action" @click="addExpresion('/')">/</button>
        </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="addExpresion('*')">*</button>
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(1)">1</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(2)">2</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn" @click="addExpresion(3)">3</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="addExpresion('-')">-</button>
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-col wide">
        <button class="calculator-btn" @click="addExpresion(0)">0</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn action" @click="addExpresion('.')">.</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="getResult()">=</button>
      </div>
      <div class="calculator-col">
        <button class="calculator-btn accent action" @click="addExpresion('+')">+</button>
      </div>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js'></script>

  <script>
    new Vue({
    el: '#calculator',
    data: {
        numInput: 0,
        recents: []
    },
    methods: {
        addExpresion: function (e) {
            if (Number.isInteger(this.numInput))
                this.numInput = '';
            this.numInput += e;
        },
        getResult: function () {
            var recent = this.numInput;
            this.numInput = eval(this.numInput);
            this.recents.push(recent + ("=" + this.numInput));
        },
        clear: function () {
            this.numInput = 0;
        },
        del: function () {
            this.numInput = this.numInput.slice(0, -1);
        }
    }
});
</script>
</body>
</html>
