﻿
<h1>PhoneBook Directory</h1>

<center>
    <div id="getdata">
        <div class="form-inline row">
            <div class="b-col">
                <input type="text" class="b-form-control" v-model="name" placeholder="Full Name">
            </div>
            <div class="b-col">
                <input type="number" class="b_form-control" v-model="number" placeholder="Mobile Number">
            </div>
            <div id="form-buttons">
                <button type="button" class="b-success" ref="SubmitButton" v-on:click="SubmitForm">Submit Form</button>
            </div>
        </div>

        <table class="b-table b-table-hover" id="customers">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Mobile #</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</center>






