﻿@import "reset.scss";

$success: rgb(35,209,96);
$danger: rgb(255,56,96);

input,
textarea {
    width: 100%;
    border: 1px solid #818181;
    border-radius: 2px;
    padding: 5px;
    font-size: .8em;

    &:focus {
        border-color: #58bee5;
    }
}

button {
    border: 1px solid #818181;
    border-radius: 3px;
    background-color: #818181;
    padding: 8px;
    color: #fff;
    font-weight: 700;

    &:disabled {
        border-color: #999999;
        background-color: #cccccc;
        color: #666666;
    }
}

.success {
    background-color: $success;
    border-color: darken($success, 10%);
}

.danger {
    background-color: $danger;
    border-color: darken($danger, 20%);
}

#container {
    display: grid;
    grid-template-columns: minmax(320px, 900px);
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2em;

    main {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    h1 {
        text-align: center;
    }

    #form-buttons {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .invalid-input {
        color: $danger;
        font-size: .7em;
        font-weight: 600;
    }
}
.form-inline {
    margin: 0 10% 5% 18%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.form-inline button:hover {
    background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: royalblue;
    color: white;
}
